<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IT Books and Courses</title>
</head>
<body>
    <header class="header">
        <input type="text" value="Поиск по книгам и видеокурсам">
        <input type="button" value="Найти">
    </header>
    <hr>

    {{{body}}}
    
    <hr>
    <footer class="footer">
        <center>Это шаблон &laquo;main&raquo;</center>
    </footer>
</body>
</html>