<article>
    <h1>Случайные книги</h1>
    <ul class="rnd-books">
        <li>Book-1</li>
        <li>Book-2</li>
        <li>Book-3</li>
        <li>Book-4</li>
    </ul>
</article>
<article>
    <h1>Случайное видео</h1>
    <ul class="rnd-video">
        <li>Video-1</li>
        <li>Video-2</li>
        <li>Video-3</li>
        <li>Video-4</li>
    </ul>
</article>